@{
    ViewBag.Title = "About Mission Site";
}
<h2>@ViewBag.Title</h2>

<p>
    Mission Site began as an initiative to connect return missionaries with propsective missionaries. Our vision is to enabled newly called missionaries to become more prepared to serve. This is accomplished through a platform whichs connects thousands of individuals with the answers they are looking for. We encourage the participation of all return missionaries in answering questions and offering advice to the Lord’s young full time servants. If you would like to know more please reach out through our contact page.
</p> <hr />
<h3>Get to know the team</h3>
<div class=“card-deck”>
    <div class=“card”>
        <img class=“card-img-top” src=“~/Content/Images/andy.png”>
        <div class=“card-block”>
            <h4 class=“card-title”>Andy Schirmer</h4>
            <p class=“card-text”>Served in Texas</p>
        </div>
    </div>
    <div class=“card”>
        <img class=“card-img-top” src=“~/Content/Images/zach.jpg”>
        <div class=“card-block”>
            <h4 class=“card-title”>Zach Eddington</h4>
            <p class=“card-text”>Served in Brazil</p>
        </div>
    </div>
    <div class=“card”>
        <img class=“card-img-top” src=“~/Content/Images/kc.jpg”>
        <div class=“card-block”>
            <h4 class=“card-title”>KC Lindelof</h4>
            <p class=“card-text”>Served in Oklahoma </p>
        </div>
    </div>
    <div class=“card”>
        <img class=“card-img-top” src=“~/Content/Images/rem.jpg”>
        <div class=“card-block”>
            <h4 class=“card-title”>Remington Rogers</h4>
            <p class=“card-text”>Served in Las Vegas</p>
        </div>
    </div>
</div>
